<section class="home">
  <div class="containers">
    <div class="title">
      <h2><span> Pécs's </span> Heart</h2>
    </div>
    <div class="row grid-container">
      <div class="col-md-3" *ngFor="let item of events">
        <div class="card">
          <div class="card-main">
            <div class="count">9</div>
            <div class="image">
              <img src="../../../assets/sidenav/profile-bg-3.png" alt="">
            </div>
            <div class="event-date event-date-green">{{ item.start_date }}</div>
            <div class="card-line"></div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">{{ item.event_title }}</a>
            <p><span class="location">{{ item.event_location }}</span></p>
            <p><span class="price">${{ item.price }}</span></p>
          </div>
          <div class="register">
            <button (click)="registerEvent(item)" class="register-button" *ngIf="isUser || isAdmin">Register</button>
          </div>
          <div class="buttons" *ngIf="isAdmin">
            <!-- <button class="view-button" >View</button> -->
            <button class="view-button" (click)="edit(item)" >Edit</button>
            <button class="view-button" (click)="del(item)" >Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="form_container">
      <i class="uil uil-times form_close" (click)="handleFormCloseClick()"></i>

      <div class="form">
        <form class="register-form" [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
          <h2>Edit Event</h2>


          <div class="input_box">
            <input type="text" class="form-control" placeholder="Event Title" formControlName="event_title">
            <i class="uil uil-envelope-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['event_title'].invalid">
            <span *ngIf="editEventForm.controls['event_title'].errors?.['required']">event_title is required.</span>
          </div>
          <div class="invalid-feedback" *ngIf="invalidEdit">
            Part(s) of the form are invalid.
          </div>


          <div class="input_box">
            <input type="text" class="form-control" placeholder="Event Description" formControlName="event_description">
            <i class="uil uil-align-left-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['event_description'].invalid">
            <span *ngIf="editEventForm.controls['event_description'].errors?.['required']">Event Description is
              required.</span>
          </div>

          <div class="input_box">
            <input type="text" class="form-control" placeholder="Event Image URL" formControlName="event_image">
            <i class="uil uil-image field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['event_image'].invalid">
            <span *ngIf="editEventForm.controls['event_image'].errors?.['required']">Event Image is required.</span>
          </div>

          <div class="input_box">
            <input type="date" class="form-control" placeholder="Event Created" formControlName="event_created">
            <i class="uil uil-calendar-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['event_created'].invalid">
            <span *ngIf="editEventForm.controls['event_created'].errors?.['required']">Event Created is required.</span>
          </div>

          <div class="input_box">
            <input type="date" class="form-control" placeholder="Start Date" formControlName="start_date">
            <i class="uil uil-calendar-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['start_date'].invalid">
            <span *ngIf="editEventForm.controls['start_date'].errors?.['required']">Start Date is required.</span>
          </div>

          <div class="input_box">
            <input type="date" class="form-control" placeholder="End Date" formControlName="end_date">
            <i class="uil uil-calendar-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['end_date'].invalid">
            <span *ngIf="editEventForm.controls['end_date'].errors?.['required']">End Date is required.</span>
          </div>

          <div class="input_box">
            <input type="text" class="form-control" placeholder="Event Badge" formControlName="event_badge">
            <i class="uil uil-label-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['event_badge'].invalid">
            <span *ngIf="editEventForm.controls['event_badge'].errors?.['required']">Event Badge is required.</span>
          </div>

          <div class="input_box">
            <input type="number" class="form-control" placeholder="Event Ticket" formControlName="event_ticket">
            <i class="uil uil-ticket-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['event_ticket'].invalid">
            <span *ngIf="editEventForm.controls['event_ticket'].errors?.['required']">Event Ticket is required.</span>
          </div>

          <div class="input_box">
            <input type="number" class="form-control" placeholder="Waiting List" formControlName="waiting_list">
            <i class="uil uil-users-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['waiting_list'].invalid">
            <span *ngIf="editEventForm.controls['waiting_list'].errors?.['required']">Waiting List is required.</span>
          </div>

          <div class="input_box">
            <input type="number" class="form-control" placeholder="Event Status" formControlName="event_status">
            <i class="uil uil-info-circle field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['event_status'].invalid">
            <span *ngIf="editEventForm.controls['event_status'].errors?.['required']">Event Status is required.</span>
          </div>

          <div class="input_box">
            <input type="number" class="form-control" placeholder="" formControlName="price">
            <i class="uil uil-dollar-alt field"></i>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && editEventForm.controls['price'].invalid">
            <span *ngIf="editEventForm.controls['price'].errors?.['required']">Price is required.</span>
          </div>


          <button class="button">Edit Event</button>
        </form>
      </div>
    </div>
  </section>
