<section class="bg-color">
  <div class="containers">
    <div class="title">
      <h2><span> Pécs's </span> Heart</h2>
    </div>
    <div class="row grid-container">
      <div class="col-md-3" *ngFor="let item of events">
        <div class="card">
          <div class="card-main">
            <div class="count">9</div>
            <div class="image">
              <img src="../../../assets/sidenav/profile-bg-3.png" alt="">
            </div>
            <div class="event-date event-date-green">{{ item.start_date }}</div>
            <div class="card-line"></div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">{{ item.event_title }}</a>
            <p><span class="location">Cinema Urania • Osijek</span></p>
            <p><span class="price">$81.00</span></p>
          </div>

          <div class="buttons">
            <button class="view-button">View</button>
            <button (click)="registerEvent(item)" class="register-button">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
