<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div class="normal-search">
          <input type="search" class="search" name="" id="" placeholder="Search...">
          <i class="far fa-search search-icon"></i>
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn sign ripple" (click)="handleFormOpenClick('login')">
            <i class="far fa-sign-in-alt menu-icon" id="form-open"></i> Sign In
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn sign sign-up ripple" (click)="handleFormOpenClick('signup')">
            <i class="far fa-user-plus menu-icon"></i> Sign Up
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <img src="assets/sidenav/flags/us.jpg" class="flag" alt="flag">
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-power-off menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-comment-alt menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img src="assets/sidenav/user3.jpg" alt="user" class="user-avatar">
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>


  <section class="home">
    <div class="form_container">
      <i class="uil uil-times form_close" (click)="handleFormCloseClick()"></i>
      <!-- Login From -->
      <div class="form login_form">
        <form action="#">
          <h2>Sign In</h2>
          <div class="input_box">
            <input type="email" placeholder="Enter your email" required />
            <i class="uil uil-envelope-alt email"></i>
          </div>
          <div class="input_box">
            <input type="password" placeholder="Enter your password" required />
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide" (click)="handlePasswordShowHideClick($event)"></i>
          </div>
          <div class="option_field">
            <span class="checkbox">
              <input type="checkbox" id="check" />
              <label for="check">Remember me</label>
            </span>
            <a href="#" class="forgot_pw">Forgot password?</a>
          </div>
          <button class="button">Sign In Now</button>
            <div class="login_signup">Don't have an account? <a href="#" id="signup" (click)="handleLoginSignupClick($event, 'signup')">Sign Up</a>
            </div>
        </form>
      </div>
      <!-- Signup From -->
      <div class="form signup_form">
        <form action="#">
          <h2>Sign Up</h2>
          <div class="input_box">
            <input type="email" placeholder="Enter your email" required />
            <i class="uil uil-envelope-alt email"></i>
          </div>
          <div class="input_box">
            <input type="password" placeholder="Create password" required />
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide" (click)="handlePasswordShowHideClick($event)"></i>
          </div>
          <div class="input_box">
            <input type="password" placeholder="Confirm password" required />
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide" (click)="handlePasswordShowHideClick($event)"></i>
          </div>
          <button class="button">Sign Up Now</button>
            <div class="login_signup">Already have an account? <a href="#" id="login" (click)="handleLoginSignupClick($event, 'login')">Sign In</a>
            </div>
        </form>
      </div>
    </div>
  </section>
</div>
