<!-- <main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                            <p class="text-center small">Enter your personal details to create account</p>
                         </div>
                         <form class="row g-3 needs-validation" novalidate [formGroup]="formg" (ngSubmit)="onSubmit()">
                            <div class="col-12">
                               <label for="yourName" class="form-label">Your Name</label> <input formControlName="name" type="text" name="name" class="form-control" id="yourName" required>
                               <div class="invalid-feedback">Please, enter your name!</div>
                            </div>
                            <div class="col-12">
                               <label for="yourEmail" class="form-label">username</label> <input formControlName="username" type="text" name="username" class="form-control" id="yourEmail" required>
                               <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                            </div>
                            <div class="col-12">
                               <label for="yourUsername" class="form-label">Your Email</label>
                               <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend">@</span> <input formControlName="email" type="email" name="email" class="form-control" id="yourUsername" required>
                                  <div class="invalid-feedback">Please choose a username.</div>
                               </div>
                            </div>
                            <div class="col-12">
                               <label for="yourPassword" class="form-label">Password</label> <input formControlName="password" type="password" name="password" class="form-control" id="yourPassword" required>
                               <div class="invalid-feedback">Please enter your password!</div>
                            </div>
                           
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit">Create Account</button></div>
                            <div class="col-12">
                               <p class="small mb-0">Already have an account? <a routerLink="/pages-login">Log in</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                 </div>
             </div>
          </div>
       </section>
    </div>
 </main>   -->


 <main>
   <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                  <div class="card mb-3">
                     <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                           <p class="text-center small">Enter your personal details to create an account</p>
                        </div>
                        <form class="row g-3 needs-validation" novalidate [formGroup]="formg" (ngSubmit)="onSubmit()">
                           <div class="col-12">
                              <label for="yourName" class="form-label">Your Name</label>
                              <input formControlName="firstname" type="text" name="firstname" class="form-control" id="yourName" required>
                              <div class="invalid-feedback">Please enter your name!</div>
                           </div>
                           <div class="col-12">
                              <label for="yourLastname" class="form-label">Last Name</label>
                              <input formControlName="lastname" type="text" name="lastname" class="form-control" id="yourLastname" required>
                              <div class="invalid-feedback">Please enter your last name!</div>
                           </div>
                           <div class="col-12">
                              <label for="yourUsername" class="form-label">Username</label>
                              <input formControlName="username" type="text" name="username" class="form-control" id="yourUsername" required>
                              <div class="invalid-feedback">Please enter a username!</div>
                           </div>
                           <div class="col-12">
                              <label for="yourEmail" class="form-label">Your Email</label>
                              <div class="input-group has-validation">
                                 <span class="input-group-text" id="inputGroupPrepend">@</span>
                                 <input formControlName="email" type="email" name="email" class="form-control" id="yourEmail" required>
                                 <div class="invalid-feedback">Please enter a valid email address!</div>
                              </div>
                           </div>
                           <div class="col-12">
                              <label for="yourPassword" class="form-label">Password</label>
                              <input formControlName="password" type="password" name="password" class="form-control" id="yourPassword" required>
                              <div class="invalid-feedback">Please enter your password!</div>
                           </div>
                           <div class="col-12">
                              <label for="yourAge" class="form-label">Age</label>
                              <input formControlName="age" type="number" name="age" class="form-control" id="yourAge" required>
                              <div class="invalid-feedback">Please enter your age!</div>
                           </div>
                           <div class="col-12">
                              <label for="yourNationality" class="form-label">Nationality</label>
                              <input formControlName="nationality" type="text" name="nationality" class="form-control" id="yourNationality" required>
                              <div class="invalid-feedback">Please enter your nationality!</div>
                           </div>
                           <!-- <div class="col-12">
                              <label for="yourRole" class="form-label">Role</label>
                              <input formControlName="role" type="text" name="role" class="form-control" id="yourRole" required>
                              <div class="invalid-feedback">Please enter your role!</div>
                           </div> -->
                           <div class="col-12">
                              <label for="yourRole" class="form-label">Role</label>
                              <select formControlName="role" class="form-select" id="yourRole" required>
                                 <option value="" disabled selected>Select a role</option>
                                 <option value="admin">Admin</option>
                                 <option value="user">User</option>
                              </select>
                              <div class="invalid-feedback">Please select a role!</div>
                           </div>
                           
                           <div class="col-12">
                              <button class="btn btn-primary w-100" type="submit">Create Account</button>
                           </div>
                           <div class="col-12">
                              <p class="small mb-0">Already have an account? <a routerLink="/pages-login">Log in</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>
