:host {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #fff;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
  --overlay-color: rgba(0, 0, 0, 0.6);
  --overlay-transition-duration: 0.5s;
  --form-container-max-width: 320px;
}


/* MAIN */
#content main {
  width: 100%;
  font-family: var(--poppins);
  z-index: 1;
  overflow-y: auto;
  position: relative;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .btn-event {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#content main .head-title .btn-event:hover,
#content main .head-title .btn-event:focus {
  background: var(--light-blue);}







#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

#content main .box-info li .text p {
  color: var(--dark);
}





#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

#content main .table-data>div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
  padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}

#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}

#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}


#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
  width: 100%;
}

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

/* MAIN */
/* CONTENT */


/* Home */
.home {
  background-position: center;
  transition: all .5s ease;
}

.home::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay-color);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--overlay-transition-duration) ease-out;
}


.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

/* From */
.form_container {
  margin-top: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: var(--form-container-max-width);
  width: 100%;
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  overflow-y: auto;
}

.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}



.form_container.active {
  display: block;
}


.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus {
  border-color: #fa0;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box i.field {
  left: 0;
}

.input_box input:focus~i.field {
  color: #fa0;
}



.form_container a {
  color: #fa0;
  font-size: 12px;
  text-decoration: none;
}

.form_container a:hover {
  text-decoration: underline;
}


.form_container .button {
  background: #fa0;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 1.875rem;
}

.form_container .button:hover {
  background-color: #e09000;
}

form.ng-loginSubmitted input.ng-invalid {
  background-color: #ff000020;
  border-radius: 6px;
}

form.ng-submitted input.ng-invalid {
  background-color: #ff000020;
  border-radius: 6px;
}

.invalid-feedback {
  display: block;
  font-size: 12px;
  color: #E8426E;
}


.textarea_box {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  /* font:inherit; */
}

.textarea_box:focus {
  border-color: #fa0;
}

.input_box.select_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box.select_box select {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  appearance: none;

}

.input_box.select_box select option:focus {
  border-color: #fa0;
}

.input_box.select_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box.select_box i.field {
  left: 0;
}

.input_box.select_box select:focus~i.field {
  color: #fa0;
}
