<!-- CONTENT -->
<section id="content">

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h2>Dashboard</h2>
      </div>
      <a class="btn-event">
        <i class='bx bx-calendar-plus'></i>
        <span class="text">Create Event</span>
      </a>
    </div>

    <ul class="box-info">
      <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text">
          <h3>1020</h3>
          <p>Events</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-group'></i>
        <span class="text">
          <h3>2834</h3>
          <p>Users</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text">
          <h3>$2543</h3>
          <p>Registration</p>
        </span>
      </li>
    </ul>


    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Events</h3>
          <i class='bx bx-search'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status process">Process</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="todo">
        <div class="head">
          <h3>Todos</h3>
          <i class='bx bx-plus'></i>
          <i class='bx bx-filter'></i>
        </div>
        <ul class="todo-list">
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Recent Registrations</h3>
          <i class='bx bx-search'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date Order</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status process">Process</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/sidenav/user3.jpg">
                <p>John Doe</p>
              </td>
              <td>01-10-2021</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="todo">
        <div class="head">
          <h3>Todos</h3>
          <i class='bx bx-plus'></i>
          <i class='bx bx-filter'></i>
        </div>
        <ul class="todo-list">
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
          <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

    <!-- <div class="task">
          <span class="bar completed"></span>
          <div class="details">
            <div>completed</div>
            <p>1 task</p>
          </div>
          <i class="far fa-pen edit"></i>
        </div>
        <div class="task">
          <span class="bar active"></span>
          <div class="details">
            <div>Active</div>
            <p>1 task</p>
          </div>
          <i class="far fa-pen edit"></i>
        </div>
        <div class="task">
          <span class="bar new"></span>
          <div class="details">
            <div>Assigned</div>
            <p>12 task</p>
          </div>
          <i class="far fa-pen edit"></i>
        </div>
         <button>
          <i class="far fa-plus"></i>
          Create New Group</button> -->
