<h2>Dashboard</h2>
<div [ngClass]="getClass()">
  <div class="col-left">
    <div class="card welcome-card">
      <div class="card-head welcome-head-container">
        <div class="col-left">
          <div>Welcome Back !</div>
          <p>Angular Dashboard</p>
        </div>
        <div class="col-right">
          <img src="assets/sidenav/profile-bg-3.png" alt="fhsdghfdshgdf">
        </div>
      </div>
      <div class="card-body welcome-body-container">
        <div class="col-left">
          <div class="avatar">
              <img src="assets/sidenav/user3.jpg" alt="">
          </div>
          <div class="name">John Doe</div>
          <p>Web Developer</p>
        </div>
        <div class="col-right">
          <div class="performance-container">
            <div class="performance">
              <div>Performance</div>
              <div>80% </div>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
          </div>
          <div class="view-profile">
            <button>
              View Profile
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col task-col">
    <div class="task">
      <span class="bar completed"></span>
      <div class="details">
        <div>completed</div>
        <p>1 task</p>
      </div>
      <i class="far fa-pen edit"></i>
    </div>
    <div class="task">
      <span class="bar active"></span>
      <div class="details">
        <div>Active</div>
        <p>1 task</p>
      </div>
      <i class="far fa-pen edit"></i>
    </div>
    <div class="task">
      <span class="bar new"></span>
      <div class="details">
        <div>Assigned</div>
        <p>12 task</p>
      </div>
      <i class="far fa-pen edit"></i>
    </div>
    <button>
      <i class="far fa-plus"></i>
      Create New Group</button>
  </div>
</div>


<div class="card">
  <div class="card-head">Lorem ipsum dashboard</div>
  <div class="card-body">
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content
    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a p
  </div>
</div>
<br>
<br>

<div class="card">
  <div class="card-head">Lorem ipsum dashboard</div>
  <div class="card-body">
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content
    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a p
  </div>
</div>

<br>
<br>
<div class="card">
  <div class="card-head">Lorem ipsum dashboard</div>
  <div class="card-body">
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content
    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a p
  </div>
</div>

<br>
<br>
<div class="card">
  <div class="card-head">Lorem ipsum dashboard</div>
  <div class="card-body">
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content
    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a p
  </div>
</div>
