<!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
<app-header
  [collapsed]="isSideNavCollapsed"
  [screenWidth]="screenWidth"
></app-header>
<ng-container *ngIf="notfound; else nf">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.event_title }}</td>
        <td>{{ event.event_description }}</td>
        <td>{{ event.start_date }}</td>
        <td>{{ event.end_date }}</td>
        <td>{{ event.email }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #nf>
  <p>No events registered</p>
</ng-template>
